.nominate_btn {
  background-color: white;
  border: 2px solid;
  border-radius: 10px;
  width: 5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}
.nomination-item {
  font-size: 0.9rem;
  box-sizing: border-box;
}
.movie-poster {
  width: 200px;
  height: 80px;
  object-fit: contain;
  padding-left: 1rem;
}
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 1.5rem;
}
.movie-box {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.tester {
  width: 200px;
}
