.testview {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.test {
  padding-left: 2rem;
  padding-right: 2rem;
}

.results {
  background-color: #e4dfda;
  width: 45%;
  height: 30rem;
  // &__heading {
  //   margin-left: 2rem;
  // }
  // &__list {
  //   margin-left: 2rem;
  // }
}
